@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merienda+One&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Xanh+Mono&display=swap');

.blog_layout{
 background-color: rgba(184, 31, 51 ,.5);
 top: 0;
 opacity: 0;
 transition:all .5s ;
 -webkit-transition:all .5s ;
 -moz-transition:all .5s ;
 -ms-transition:all .5s ;
 -o-transition:all .5s ;
}
.blog_layout:hover{
 opacity: 1;
}
.layout_title{
 font-weight: 700 !important;
font-size: 27px !important; 
line-height: 29px;
font-family: 'Inter', sans-serif;
}

.layout_desc{
 font-weight: 400;
font-size: 20px !important;
line-height: 27px;
font-family: 'Inter', sans-serif;
}

.layout_btn{
font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 20px !important;
color: #fff !important;
border: 1px solid #fff !important;

}